{% extends "base.html" %}
{% block content %}

     <h2>{{ page_title }}</h2>
    <p>
        Schitt's Creek (styled Schitt$ Creek) is a Canadian television sitcom created by Dan Levy and his father Eugene Levy
        that aired on CBC Television from January 13, 2015, to April 7, 2020. It consists of 80 episodes spread over six
        seasons. Produced by Not a Real Company Productions and Anonymous Content, the series follows the formerly
        wealthy Rose family's trials and tribulations. After Rose's business manager embezzles the family business, the
        family loses their fortune and relocates to Schitt's Creek, a small town they once purchased as a joke. Now
        living in a motel, Johnny Rose (Eugene Levy) and Moira Rose (Catherine O'Hara)—along with their adult children,
        David (Dan Levy) and Alexis (Annie Murphy)—must adjust to life without money and with each other.
    
        The series conception came from Dan Levy, who wondered how wealthy families, as frequently depicted on American
        reality television, would react if they were to lose all their money. He further developed the series with his
        father, Eugene, before pitching the series to several Canadian and American networks. The series was first sold to
        CBC Television in Canada and secured final funding to be able to start production in its sale to Pop TV in the
        United States, where it debuted on February 11, 2015. Although limited in popularity throughout its first few
        seasons, the series' appearance on Netflix after its third season is credited for the show's sudden rise in stature,
        attributed to the "Netflix bump" and a dynamic social media presence.
    
        Schitt's Creek received critical acclaim and garnered a cult following, particularly for its writing, humour and
        acting. The series has won various accolades, including two ACTRA Awards and 18 Canadian Screen Awards. It is
        the first Canadian comedy series to be nominated for a Critics' Choice Television Award for Best Comedy Series
        It also received two Screen Actors Guild Award nominations, including Outstanding Performance by an Ensemble in a
        Comedy Series and a total of 19 Primetime Emmy Award nominations, including Outstanding Comedy Series
        twice. The show received 15 of these nominations for its sixth and final season, setting a record for
        most Emmy nominations for a comedy series' final season.[14] For its portrayal of LGBTQ+ people, the series was
        nominated twice for a GLAAD Media Award for Outstanding Comedy Series, winning once.
    
        At the 72nd Primetime Emmy Awards, the series' final season swept all seven major comedy awards (the first time for
        a comedy or drama series)—Outstanding Comedy Series, Outstanding Writing and Outstanding Directing for Dan Levy (the
        last shared with Andrew Cividino), and setting a record for winning all four major acting categories (Lead
        Actor/Actress and Supporting Actor/Actress) for O'Hara, Murphy and both Levys.[16] At the same time, the series set
        a new record for most Emmy wins by a comedy series in a single season, beating The Marvelous Mrs. Maisel's 2018
        record.
    </p>

    <h2>Characters</h2>

    {% for member in company %}

            <div class="row featurette">

                {% if loop.index % 2 != 0 %}

                <div class="col-md-7">
                    <h3><a href="/about/{{ member.url }}">{{ member.name }}</a></h3>
                    <p>{{ member.description }}</p>
                </div>
                <div class="col-md-5">
                    <img src="{{ member.image_source }}" alt="" class="featurette-image image-responsive">
                </div>

            {% else %}

                <div class="col-md-5">
                    <img src="{{ member.image_source }}" alt="" class="featurette-image image-responsive">
                </div>
                <div class="col-md-7">
                    <h3><a href="/about/{{ member.url }}">{{ member.name }}</a></h3>
                    <p>{{ member.description }}</p>
                </div>

            {% endif %}

        </div>

        {% if loop.index != loop.length %}

        <hr class="featurette-divider">

        {% endif %}

    {% endfor %}
    
{% endblock %}