{% extends "base.html" %}
{% block content %}
     <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <div class="post-preview">
                <a href="https://www.imdb.com/title/tt3526078/episodes?season=1&ref_=tt_eps_sn_1">
                    <h2 class="post-title">
                    Season 1
                    </h2>
                    <h3 class="post-subtitle">
                    13 Episodes
                    </h3>
                </a>
                <p class="post-meta">
                    First aired: January 13, 2015 - Last aired: March 31, 2015
                </p>
            </div> 
            <hr>
            <div class="post-preview">
                <a href="https://www.imdb.com/title/tt3526078/episodes?season=2&ref_=tt_eps_sn_2">
                    <h2 class="post-title">
                    Season 2
                    </h2>
                    <h3 class="post-subtitle">
                    13 Episodes
                    </h3>
                </a>
                <p class="post-meta">
                    First aired: January 12, 2016 - Last aired: March 29, 2016
                </p>
            </div>
            <hr>
            <div class="post-preview">
                <a href="https://www.imdb.com/title/tt3526078/episodes?season=3">
                    <h2 class="post-title">
                    Season 3
                    </h2>
                    <h3 class="post-subtitle">
                    13 Episodes
                    </h3>
                </a>
                <p class="post-meta">
                    First aired: January 10, 2017 - Last aired: April 4, 2017
                </p>
            </div>
            <hr>
            <div class="post-preview">
                <a href="https://www.imdb.com/title/tt3526078/episodes?season=4">
                    <h2 class="post-title">
                    Season 4
                    </h2>
                    <h3 class="post-subtitle">
                    13 Episodes
                    </h3>
                </a>
                <p class="post-meta">
                    First aired: January 9, 2018 - Last aired:	December 19, 2018
                </p>
            </div>
            <hr>
            <div class="post-preview">
                <a href="https://www.imdb.com/title/tt3526078/episodes?season=5">
                    <h2 class="post-title">
                    Season 5
                    </h2>
                    <h3 class="post-subtitle">
                    14 Episodes
                    </h3>
                </a>
                <p class="post-meta">
                    First aired: January 8, 2019 - Last aired: April 9, 2019
                </p>
            </div>
            <hr>
            <div class="post-preview">
                <a href="https://www.imdb.com/title/tt3526078/episodes?season=6">
                    <h2 class="post-title">
                    Season 6
                    </h2>
                    <h3 class="post-subtitle">
                    14 Episodes
                    </h3>
                </a>
                <p class="post-meta">
                    First aired: January 7, 2020 - Last aired: April 7, 2020 	
                </p>
            </div>
            <hr>
            <!-- Pager -->
            <div class="clearfix">
                <a class="btn btn-primary float-right" href="https://www.netflix.com/title/80036165">Watch Schitt's Creek on Netflix &rarr;</a>
            </div>
        </div>
    </div>     
{% endblock %}